body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
    /* To create a little more room around the menu, add 20px of space on the inside of
    the body element by using the padding property. */
}
h1,h2,p {
    text-align: center;
}
h1,h2 {
    font-family: Impact, serif;
}
.menu {
    background-color: burlywood;
    /* By changing px to %, you ensure that it is centered, occupying 80%, taking
    the body as a reference in this case. */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2 {
    font-size: 30px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Use the margin set in the menu to center it. */
    margin-top: -25px;
    /* The h2 elements have default top and bottom margin space, so you could
    change the bottom margin of the h2 elements to say 0 or another number.
    Simply add a negative top margin to the img elements to pull them up from their current positions. */
}
.flavor,.dessert {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}
.item p {
    display: inline-block;
    /* To configure them as inline-blocks. */
    margin-top: 5px;
    margin-bottom: 5px;
    /* To reduce the space between lines. */
    font-size: 18px;
}
.established {
    font-style: italic;
}
hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}
.bottom-line {
    margin-top: 25px;
}
/* FOOTER */
footer,
footer a {
    font-size: 14px;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: brown;
}
a:active {
    color: brown;
}
.address {
    margin-bottom: 5px;
}